__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
venv/
env/
vn_A3/
.venv/
.ipynb_checkpoints/
*.ipynb_checkpoints
/content/
.colab/
*.pt
*.pth
*.ckpt
!mt_attention_ckpt.pt
data/raw/
data/processed/*.tsv
data/processed/*.csv
logs/
*.log
.cache/
.tmp/
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.idea/
.env
*.sqlite
